
@font-face {
  font-family: 'Avenir';
  src: url('../fonts/avenir/avenirnextcyrlight.eot?#iefix') format('embedded-opentype'),  
  url('../fonts/avenir/avenirnextcyrlight.woff') format('woff'), 
  url('../fonts/avenir/avenirnextcyrlight.ttf') format('truetype'), 
  url('../fonts/avenir/avenirnextcyrlight.svg#avenirnextcyrlight') format('svg');
  font-weight: 100;
  font-style: normal;
}
