
@font-face {
  font-family: 'MyriadPro';
  src: url('MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  
	   url('MyriadPro-Regular.woff') format('woff'), 
	   url('MyriadPro-Regular.ttf')  format('truetype'), 
	   url('MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
}
