@import "fonts.css";
@import "main.css";
html,
body {
/* 	height: 100%;*/
	font-family: 'Myriad';
	font-size: 14px;
	line-height: 19px;
}
#header{
	width: 100%;
	height: 1043px;
	position: relative;
}
.bg_main{
	background: url('../images/bg_main.jpg') no-repeat 50% 0;
}
#wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -285px;
	padding: 0 0 285px;
}
.logo{
	margin: 30px 0 0;
}
.blc_top {
    width: 100%;
}

.blc_top ul.mn {
    text-align: center;
    width: 100%;
}
.blc_top ul.mn > li:first-child {
    text-align: left;
}
.blc_top ul.mn > li:last-child {
    text-align: right;
}
.blc_top ul.mn > li {
    text-align: center;
    display: inline-block;
    margin: 0 -4px 0 0;
    width: 33%;
}
.blc_menu_btn {
    margin: 37px 0 0;
    position: fixed;
    cursor: pointer;
    width: 60px;
    height: 23px;
	z-index: 999;
	left: 23%;
}
.blc_menu_btn i {
    position: absolute;
    left: 0px;
    display: block;
    width: 20px;
    height: 3px;
    margin: 0;
    background: #2a2a2a;
    transition: -webkit-transform .3s,background .3s;
    transition: transform .3s,background .3s;
}
.blc_menu_btn.open i{
	height: 1px;
}
.blc_menu_btn i:first-child {
    top: 3px;
}
.blc_menu_btn i:nth-child(2) {
    top: 10px;
}
.blc_menu_btn i:nth-child(3) {
    top: 17px;
}
.blc_menu_btn:hover i:first-child {
    -webkit-transform: translateY(-3px);
    transform: translateY(-3px);
}
.blc_menu_btn:hover i:nth-child(3) {
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
}
.blc_menu_btn b {
    position: absolute;
    top: 4px;
    left: 41px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    font-family: 'Myriad';
    font-weight: normal;
    display: block;
    color: #2a2a2a;
    font-size: 14px;
    line-height: 14px;
    cursor: pointer;
    z-index: 10;
}
.blc_menu_btn.open i:first-child:nth-child(1) {
    -webkit-transform: translateX(0px) translateY(7px) rotate(45deg);
    transform: translateX(0px) translateY(7px) rotate(45deg);
}
.blc_menu_btn.open i:nth-child(2) {
    display: none;
}
.blc_menu_btn.open i:nth-child(3) {
    -webkit-transform: translateX(0px) translateY(-7px) rotate(-45deg);
    transform: translateX(0px) translateY(-7px) rotate(-45deg);
}

















.blc_lang {
    margin: 47px 0 0;
    position: relative;
}
.blc_top ul.mn > li ul.lang li {
    display: inline-block;
    margin: 0 0 0 0;
    color: #000;
}
.blc_top ul.mn > li ul.lang li a {
    color: #000;
    font-family: 'Myriad';
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}
.blc_top ul.mn > li ul.lang li.active a {
    color: #00bbff;
    font-family: 'Myriad';
    font-size: 14px;
    line-height: 14px;
}
.blc_top ul.mn > li ul.lang li:nth-child(2) {
    margin: 1px 0 0;
}
#wrapper.blur, .bg_main.blur, #footer.blur {
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    -o-filter: blur(10px);
    -ms-filter: blur(10px);
    filter: blur(10px);
}
.bg_main_menu{
	background: url('../images/bg_main.jpg') no-repeat 50% 0;
	width: 100%;
	height: 1043px;
	position: relative;
}
.blc_big_menu {
    width: 100%;
    height: 670px;
    bottom: 0;
    top: 0px;
    position: fixed;
    z-index: 100;
    display: none;
	background: rgba(255, 255, 255, 0.86);
}
.big_menu {
    /* display: none; */
    height: 1043px;
    width: 100%;
    z-index: 90;
}
.blc_close {
    margin: 49px 0 0;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.blc_close span.cls {
    font-size: 40px;
    line-height: 40px;
    position: absolute;
    color: #2a2a2a;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;
}
.blc_close span.cls_img {
    font-family: 'Myriad';
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 30px;
    height: 30px;
    cursor: pointer;
    position: relative;
    padding-left: 43px;
    z-index: 10000;
    cursor: pointer;
    top: 5px;
    padding: 0 0 0 40px;
}
.blc_big_menu ul.mst {
    padding: 150px 0 100px;
}
ul.mst > li {
    display: inline-block;
    margin: 0 -4px 0 0;
    width: 25%;
    text-align: left;
}
ul.mst > li ul {}
ul.mst > li ul li {
    display: block;
    width: 100%;
    margin: 0 0 20px;
}
ul.mst > li ul li h4 {
    margin: 0 0 40px;
    font-family: 'Myriad';
    font-size: 14px;
    line-height: 14px;
    font-weight: normal;
	color: #00baff;
}
ul.mst > li ul li:not(:first-child) h4{
	margin-top: 60px;
}
ul.mst a {
    font-family: 'Myriad';
    display: block;
    width: 80%;
    color: #484848;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
    position: relative;
    text-align: left;
}
ul.mst a:hover {
    display: block;
    color: #000;
    font-size: 14px;
    line-height: 14px;
    text-decoration: none;
}
ul.mst a:after {
    display: block;
    content: "";
    height: 1px;
    width: 0%;
	margin: 2px 0 0;
    background-color: #00baff;
    -webkit-transition: width .3s ease-in-out;
    -moz-transition: width .3s ease-in-out;
    -o-transition: width .3s ease-in-out;
    transition: width .3s ease-in-out;
}
ul.mst a:hover:after {
    width: 100%;
}
ul.mst > li ul li.active a{
	color: #000;
}
ul.mst > li ul li.active a:after{
	width: 100%;
}
.blc_search{
	float: right;
	margin: 30px 4px -30px 0px;
}
.blc_m_slang{
	width: 380px;
    float: right;
    margin: 215px 120px 0 0;	
}
.blc_m_slang h3{
    color: #000;
    font-family: 'Myriad';
    font-size: 30px;
    line-height: 30px;
    text-decoration: none;	
	font-weight: normal;
	margin: 0 0 20px;
}
.blc_m_slang p{
    color: #000;
    font-family: 'Arial';
    font-size: 14px;
    line-height: 30px;
    text-decoration: none;	
	font-weight: normal;	
}
#go_top {
    position: fixed;
    top: 30px;
    right: 22%;
    z-index: 999;
    background: url('../images/sp_go_top.png') no-repeat 0 0;
    width: 43px;
    height: 42px;
}
#go_top:hover{
	background-position: 0 -45px ;
}
#go_top a {
    width: 43px;
    height: 42px;
    display: block;
}
.blc_four_type{
	margin: -130px 0 0;
	position: relative;
	background: rgba(219, 219, 219, 0.45);
	height: 130px;
	
}
.blc_four_type ul.mst_in{
    text-align: center;
    font-size: 0;
}
.blc_four_type ul.mst_in > li{
	display: inline-block;
	width: 420px;
	position: relative;
	text-align: center;
	line-height: 125px;	
	cursor: pointer;
}
.blc_four_type ul.mst_in > li:nth-child(2), .blc_four_type ul.mst_in > li:nth-child(3){
	border-left: 2px solid rgba(219, 219, 219, 0.45);
}
.blc_four_type ul.mst_in > li:nth-child(3){
	border-right: 2px solid rgba(219, 219, 219, 0.45);
}
.blc_four_type ul.mst_in > li a{
    color: #000;
    font-family: 'Arial';
    font-size: 14px;	
	text-decoration: none;
	position: relative;
    top: -21px;	
}
.blc_four_type ul.mst_in > li a:before{
	content: "";
	background: url('../images/sp_four.png') no-repeat 0 0;
	width: 42px;
	height: 43px;
	position: absolute;
	left:0;
	right: 0;
	margin: auto;
	bottom: -57px;
}
.blc_four_type ul.mst_in > li a:hover:before{
	background-position: 0 -46px;
}
.blc_four_type ul.mst_in > li .desc_hide{
	position: absolute;
	height: 550px;
	width: 100%;
	background: #fff;
	top: -420px;
	left: 0;
	bottom: 0;
	display: none;
}
.blc_four_type ul.mst_in > li:hover .desc_hide{

}
.blc_four_type ul.mst_in > li .desc_hide img{
	margin: 58px 0 0;
	float: right;
}
.blc_four_type ul.mst_in > li .desc_hide .desc_top_wh{
	background: #fff;
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	z-index: 10;	
}
.blc_four_type ul.mst_in > li .desc_hide .desc_btm_bl{
	background: #00b7f9;
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	z-index: 10;
	padding: 35px 55px;
}

.blc_four_type ul.mst_in > li .desc_btm_bl ul.slv_in{}
.blc_four_type ul.mst_in > li .desc_btm_bl ul.slv_in li{
	color: #fff;
	display: block;
	position: relative;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 14px;
	text-align: left;
	margin: 0 0 15px;
	padding-left: 19px;
}
.blc_four_type ul.mst_in > li .desc_btm_bl ul.slv_in li:after{
	content: "";
	background: #fff;
	width: 7px;
	height: 7px;
	position: absolute;
	top: 4px;
	left: 0;
	border-radius: 100%;
}
.blc_four_type ul.mst_in > li .desc_btm_bl a{
	color: #fff;
	top: -27px;
}
.blc_four_type ul.mst_in > li .desc_btm_bl a:before {
    content: "";
    background: url('../images/sp_fourw.png') no-repeat 0 0;
    width: 42px;
    height: 43px;
    bottom: -57px;
}
.blc_four_type ul.mst_in > li .desc_btm_bl a:hover:before {
    content: "";
    background: url('../images/sp_fourw.png') no-repeat 0 -46px;
    width: 42px;
    height: 43px;
    bottom: -57px;
}
.blc_benefits{
    background: url('../images/bg_benefits.jpg') no-repeat 50% 0;
	height: 1106px;
}
.tabs {
	margin: 0 0 30px;
}
.tabs__caption {
	height: 28px;
	line-height: 25px;
	list-style: none;
}
.tabs__caption li {
	float: left;
	display: inline;
	padding: 0 20px;
	color: #000;
	cursor: pointer;
	position: relative;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
}
.tabs__caption li:hover,
.vertical .tabs__caption li:hover {
	color: #000;
	padding: 0 20px;
}
.tabs__caption .active {
	color: #000;
	padding: 0 20px;
}
.tabs__content{
	display: none;
	padding: 0;
	color: #000;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;	
}
.tabs__content p{
	color: #000;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;	
}
.tabs__content p.hd{
	display: none;
}
.tabs__content.active {
	display: block;
	margin: 80px 0 0;
	color: #000;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;	
}
.blc_tabs{
	padding: 330px 0 0;
}
.blc_tabs h3{
	font-family: 'Avenir';
	font-weight: normal;
	font-size: 30px;
	line-height: 30px;
	color: #000;
	text-transform: uppercase;
}
.tabs_desc{
	margin: 50px 0 0 -20px;
	position: relative;
}
.tabs_desc span{
	display: inline-block;
	height: 1px;
	position: absolute;
	width: 200px;
	right: 0;
	top: 23px;
	background: #00b2f3;
}
.blc_gray_map{
	background: #d8d8d8;
	padding: 170px 0 70px;
}



.tabs_btm{
	width: 950px;
	margin: auto;
}
/*
.tabs_btm .blc_line{
	position: absolute;
	background: #fff;
	height: 1px;
	width: 100%;
}
.tabs_btm .tabs_desc span {
    display: inline-block;
    height: 1px;
    position: absolute;
    width: 20%;
    left: 0;
    top: 0;
    background: #00b2f3;
}
*/
.blc_line span{
	display: none;
}
.tabs_list {
    height: 28px;
    line-height: 25px;
    list-style: none;
    font-size: 0;
    position: relative;
    border-bottom: 1px solid #fff;
}
.tabs_list li {
	float: left;
	display: inline;
	padding: 0 20px;
	color: #000;
	cursor: pointer;
	position: relative;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 14px;
	font-weight: normal;
	width: 20%;
	text-align: center;
	padding-bottom: 13px;
	border-bottom: 1px solid transparent;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.tabs_list li:hover{
	color: #000;
	padding: 0 20px;
	padding-bottom: 13px;
	border-bottom: 1px solid #00b2f3;	
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -o-transition: all 0.4s;
    transition: all 0.4s;	
}
.tabs_list .active {
	color: #000;
	padding: 0 20px;
	border-bottom: 1px solid #00b2f3;
    padding-bottom: 13px;	
}
.tabs_cnt{
	display: none;
	padding: 0;
	color: #000;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;	
}
.tabs_cnt p{
	color: #000;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;	
}
.tabs_cnt.active {
	display: block;
	margin: 50px 0 0;
	color: #000;
	font-family: 'Arial';
	font-size: 14px;
	line-height: 30px;
	font-weight: normal;	
}
input[type=radio].css-checkbox {
	position:absolute; 
	z-index:-1000; 
	left:-1000px; 
	overflow: hidden; 
	clip: rect(0 0 0 0); 
	height:1px; 
	width:1px; 
	margin:-1px; 
	padding:0; 
	border:0;
}
input[type=radio].css-checkbox + label.css-label {
	padding-left: 26px;
	font-family: 'Arial';
	height:11px; 
	display:inline-block;
	line-height:14px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:14px;
	vertical-align:middle;
	cursor:pointer;
}
input[type=radio].css-checkbox:checked + label.css-label {
	background-position: 0 -11px;
}
label.css-label {
	background-image:url('../images/rd.png');
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
input[type=radio].css-checkbox + label.css-label span{
	display: block;
    margin: -3px 0 0;
	font-size:14px;
	font-family: 'Arial';
}
.tabs_cnt ul.lbl{
	font-size: 0;
}
.tabs_cnt ul.lbl li{
	display: inline-block;
	margin: 0 40px 0 0;
}
.tabs_cnt ul.lbl li:last-child{
	display: inline-block;
	margin-right: 0;
}

.map_contacts, .blc_undeground, .blc_list{
	display: none;
}
.map_contacts.active, .blc_undeground.active, .blc_list.active{
	display: block;
}














.blc_black_footer{
	background: #0e0e0e;
	padding: 105px 0 170px;
}
.blc_black_footer ul.mst{
	display: block;
}
.blc_black_footer ul.mst li a{
	color: #919191;
}
.blc_black_footer ul.mst li a:hover{
	color: #ffffff;
}










.hides{
	display: none;
}
.visibles{
	display: block;
}
#footer {
	margin: 55px 0 0;
	height: 285px;
	background-color: #fff;
	position: relative;
}
.blc_safmar{
	text-align: center;
}
.footer_logos{
	margin: 65px 0 0;	
}
.footer_logos .logos{
	display: table;
	text-align: center;
	width: 100%;	
}
.footer_logos .logos li {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}
.footer_logos .logos li .bl {
    display: block;
    margin: auto;
}
.footer_logos .logos li .blg1{
    display: block;
    background: url('../images/sp1.png') no-repeat;
    background-position: 0 0;
	width: 96px;
	height: 40px;
}
.footer_logos .logos li .blg1:hover{
    background-position: 0 -43px ;
}
.footer_logos .logos li .blg2 {
    display: block;
    background: url('../images/sp2.png') no-repeat;
    background-position: 0 0;
	width: 110px;
	height: 39px;
}
.footer_logos .logos li .blg2:hover{
    background-position: 0 -42px ;
}
.footer_logos .logos li .blg3 {
    display: block;
    background: url('../images/sp3.png') no-repeat;
    background-position: 0 0;
	width: 95px;
	height: 17px;
}
.footer_logos .logos li .blg3:hover{
    background-position: 0 -20px ;
}
.footer_logos .logos li .blg4 {
    display: block;
    background: url('../images/sp4.png') no-repeat;
    background-position: 0 0;
	width: 104px;
	height: 52px;
}
.footer_logos .logos li .blg4:hover{
    background-position: 0 -55px ;
}
.footer_logos .logos li .blg5 {
    display: block;
    background: url('../images/sp5.png') no-repeat;
    background-position: 0 0;
	width: 146px;
	height: 18px;
}
.footer_logos .logos li .blg5:hover{
    background-position: 0 -21px ;
}
.footer_logos .logos li .blg6{
    display: block;
    background: url('../images/sp6.png') no-repeat;
    background-position: 0 0;
	width: 94px;
	height: 17px;
}
.footer_logos .logos li .blg6:hover {
    background-position: 0 -20px ;
}
.footer_logos .logos li .blg7{
    display: block;
    background: url('../images/sp7.png') no-repeat;
    background-position: 0 0;
	width: 145px;
	height: 41px;
}
.footer_logos .logos li .blg7:hover {
    background-position: 0 -44px ;
}
.bg_ftr{
	background: url('../images/bg_footer.jpg') no-repeat 54% 0;
	width: 100%;
	height: 9px;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
@media (min-width: 768px){
	.col-xs-15 {
		width: 20%;
		float:left;
		position: relative;
	}
}
@media (min-width: 1200px){
	.container {
		max-width: 1070px;
	}
}
@media (max-width: 1696px){
	.blc_four_type ul.mst_in > li {
		width: 25%;
	}	
}
@media (max-width: 1200px){
	
}
@media (max-width: 1080px){

}
@media (max-width: 1024px){}
@media (max-width: 991px){
	.tabs_btm {
		width: 100%;
		margin: auto;
	}
}
@media (max-width: 880px){
	.footer_logos .logos li {
		display: block;
		vertical-align: top;
		text-align: center;
		margin: 0 auto 35px;
	}	
	.footer_logos .logos li .bl {
		display: block;
		margin: auto;
	}	
	.bg_ftr {
		background: url('../images/bg_footer.jpg') no-repeat 54% 0;
		position: static;
	}	
}
@media (max-width: 850px){
	h2 {
		font-size: 33px;
		line-height: 33px;
	}	
}
@media (max-width: 767px){
	.navbar-toggle {
		margin-right: 0;
		margin-top: 20px;
	}	
	.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
		background-color: transparent;
	}	
	.navbar-default .navbar-toggle .icon-bar {
		background-color: #00c969;
	}	

	

}
@media (max-width: 736px){}
@media (max-width: 675px){	
	
}
@media (max-width: 600px){}
@media (max-width: 568px){

}
@media (max-width: 484px){


}
@media (max-width: 414px){

}
@media (max-width: 384px){
	h2 {
		font-size: 28px;
		line-height: 30px;
	}	

	
}
@media (max-width: 375px){}
@media (max-width: 320px){
	.bg_ftr {
		background: url('../images/bg_footer.jpg') no-repeat 53% 0;
	}	
}


















